<div class="main">
    <div class="top-section">
        <div class="top-section-firstdose">
            <div class="firstdose" *ngFor="let data of firstdosecount">
                <div class="firstdose-info">
                    <div class="title"><b>FirstDose</b></div>
                    <div class="count">{{data.firstdoseCount}}</div>
                    <div><span>Total of Firstdose Administered</span></div>
                </div>
                <div class="icon">
                    <mat-icon>healing</mat-icon>
                </div>
            </div>
        </div>
        <div class="top-section-firstdose">
            <div class="seconddose" *ngFor="let data of seconddosecount">
                <div class="seconddose-info">
                    <div class="title"><b>SecondDose</b></div>
                    <div class="count">{{data.seconddoseCount}}</div>
                    <div><span>Total of Seconddose Administered</span></div>
                </div>
                <div class="icon">
                    <b><mat-icon>people_outline</mat-icon></b>
                </div>
            </div>
        </div>
        <div class="top-section-firstdose">
            <div class="vaccine" *ngFor="let data of availablevaccine">
                <div class="vaccine-info">
                    <div class="title"><b>Available Vaccine</b></div>
                    <div class="count">{{data.vaccineCount}}</div>
                    <div><span>Total of Available Vaccine</span></div>
                </div>
                <div class="icon">
                    <b><mat-icon>vaccines</mat-icon></b>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom-section">
        <div class="vaDay">
            <div class="data">
                <canvas id="canvas">
                    {{table}}
                
                </canvas>
            </div>
        </div>
        <div class="vaDay1">
            <div class="data" class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" >
                    <!-- Date -->
                    <ng-container matColumnDef="day">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.day}} </td>
                    </ng-container>
                  
                    <!-- No Of Vaccinated -->
                    <ng-container matColumnDef="vaccinated">
                      <th mat-header-cell *matHeaderCellDef>Vaccinated: FirstDose </th>
                      <td mat-cell *matCellDef="let element"> {{element.vaccinatedPerDay}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </div>
            <div class="data" class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceSecond" >
                    <!-- Date -->
                    <ng-container matColumnDef="day">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.day}} </td>
                    </ng-container>
                  
                    <!-- No Of Vaccinated -->
                    <ng-container matColumnDef="vaccinatedSecond">
                      <th mat-header-cell *matHeaderCellDef> Vaccinated: SecondDose</th>
                      <td mat-cell *matCellDef="let element"> {{element.vaccinatedSeconddose}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSecond"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSecond;"></tr>
                  </table>
            </div>

        </div>
    </div>
</div>