.main {
    width: 100%;
    height: calc(100vh - 66px);
}
.main .alert {
    margin: unset;
}
.main .table-container {
    overflow: auto;
    margin: 0 20px;
    height: calc(100vh - 66px);

    display: grid;
    grid-template-rows: auto 1fr;
}
.main .table-container .upper-portion {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}
.main .table-container .upper-portion .button-add {
    display: flex;
    align-items: center;
}
.main .table-container .upper-portion .search {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main .table-container .upper-portion .button-add button {
    padding: 5px 15px;
}
/* Structure */
table {
    width: 100%;
}
table th{
    /*background-color: #685D79;*/
    background-color: #685D79;
    color:#fafafa;
    box-shadow: 1px 1px 1px #000;
    /*text-align: center;*/

    font-weight: bold;
    font-size: 1.5rem;
}
table tr {
    /*text-align: center;*/
    background-color: #eee;
    
    font-size: 1.2rem;
}
table tr td {
    padding: unset;
}
table tr button {
    padding:unset;
}
