<div class="main-container">
    <mat-toolbar class="toolbar">
        <div class="home-title">
            <mat-icon>home</mat-icon>
            <span>COVID-19-Vaccine Information System</span>
        </div>
        <div class="contact-info">
            <div class="op1">
                <mat-icon>contact_support</mat-icon>
                <div>About</div>
            </div>
            <div class="op2">
                <mat-icon>phone_in_talk</mat-icon>
                <div>Contact Us</div>
            </div>  
        </div>
    </mat-toolbar>
    <div class="main">
        <div class="banner-container">
            <mat-card class="banner-left">
                <div>
                    Help Stop The Spread of the <b>Virus</b><br>
                </div>
                <div>
                    Get <span>VACCINATED!</span>
                </div>
            </mat-card>
            <mat-card class="banner-right">
                <div class="welcome">
                    Welcome!
                </div>
                <div>
                    “Let's hop on hope, hoping and hopeful that someday we will hop on regular life again!”
                </div>
                <div class="con1">
                    <button routerLink="/dashboard-view/overview-view" mat-button color="primary" mat-raised-button>Continue</button>
                </div>
                <div class="con2">
                    Admin? <a routerLink="/admin-login"><button mat-button color="accent" mat-raised-button>Click Here</button></a>
                </div>
            </mat-card>
        </div>
    </div>
</div>




