/*Side Nav*/
a {
    text-decoration: none;
  }
  .main-container {
      border: 1px solid rgba(0, 0, 0, 0.5);
      width:100%;
      height: 100vh;
      /*transition: all 0.5s ease;*/
      overflow-x: hidden;
  
      /*background-image: url('./assets/img/bg.svg');*/
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
  }
    .sidenav-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .sidenav {
      position: fixed;
      /*transition: all 0.5s ease;*/
      background-color: #eee;
      width: 250px;
      box-sizing: unset;
    }
    .sidenav .side-content {
        width: 250px;
  
        display: grid;
        grid-template-rows: 100px repeat(5, 75px);
    }
    .sidenav .side-content .contentHeader{
      background-color: #685D79;
      border-bottom: 1px solid black;
      display: flex;
      gap: 12px;
    }
    .sidenav .side-content .contentHeader .header {
        
        color: #ffff;
        font-size: 1.8rem;
        padding: 35px 0;
  
        display: flex;
        justify-content: center;
        gap:15px;
  
    }
    .sidenav .side-content .contentHeader .bar {
      height: 100%;
      width: 25px;
      background-color: #475C7A;
    }
    .sidenav .side-content .content{
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        color:#000;
  
        display: flex;
        align-items: center;
    }
    /*If admin is in currently in selected section this will trigger*/
    .active-section {
      border-left: 15px solid gray;
  
    }
    .sidenav .side-content .content .icon-section {
      display: flex;
  
      gap: 15px;
    }
    .sidenav .side-content .content .icon-section mat-icon {
      color:#475C7A;
  
    }
    .sidenav .side-content .content {
      padding: 0 55px;
  
    }
    .sidenav .side-content .content:hover {
        background-color: #C5C6D0;
        cursor: pointer;  
        padding: 0 68px;
        transition: all 0.5s ease-in-out;
    }
  
    /*Tool Bar*/
    .toolbar {
      transition-delay: 0.5s;
      background-color: #475C7A;
  
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;
    }
    .toolbar .logout-section{
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      padding: 0 30px;
      background-color:unset;
    } 
    .toolbar .logout-section .admin-name p{
      color: #eee;
      font-size: 1.6rem;
      margin: unset;
    }
    .toolbar span {
      color: white;
      font-size: 1.7rem;
    }
    .toolbar .section {
      color: #D2E5D0;
    }
    .toolbar .ham {
        cursor: pointer;
    }
    button {
      border: none;
      /*background-color: #475C7A;*/
    }
    /* Content Container */
    .contents {
      width: 100%;
      height: calc(100vh - 66px);
  
  }
  